html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after{
box-sizing: inherit;
}
body{
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
}
p{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}